*{
    margin: 0px;
    padding: 0px;
    font-family: 'Inconsolata', monospace;

}
/* header related style */
.head-title{
    color: #333;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: -1.92px;
    text-transform: uppercase;
    margin-top: 40px;
    margin-left: 78px;
}
/* main section related style */
.Scarecrow-text-img-container{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 90vh;
}
.crow-pic{
    width: 650px;
    height: 500px;
}


.error-title{
    color: var(--gray-1, #333);
    font-size: 64px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: -2.24px;
    margin-bottom: 20px;
}
.error-description{
    color: var(--gray-2, #4F4F4F);
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: -0.84px;
    margin-bottom: 49px;
}
.homepage-btn{
    background: var(--gray-1, #333);
    color: white;
    padding: 20px 43px;
    border: none;
    font-size: 15px;
}
/* footer related style */
.footer-title{
        color: #BDBDBD;
    text-align: center;
    font-size: 15px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.footer-title > u{
    color: #BDBDBD;
    font-size: 15px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}


/* media query  */
@media screen and (max-width: 576px){
    .head-title{
        margin-top: 17px;
        margin-left: 21px;
    }
    .Scarecrow-text-img-container{
        flex-direction: column;
        justify-content: center;
    }
    .crow-pic{
        width: 60%;
        height: auto;
        margin: auto;
        padding: 25px;
        margin-top: 20px;
    }
    .text-container{
        margin-left: -180px;
        
    }
    .error-title{
        font-size: 40px;
    }
    .homepage-btn{
        margin-top: -20px;
    }
    .footer-title{
        /* margin-left: -150px; */
    }
}